

	.wanted-icon{
		font-size: 30px;
		float: left;
	}

	.wanted-box {
		display: flex;
		align-items:center;
		margin-bottom: 10px;
	 }
	 .wanted-positions{
		 margin-top: 2rem;
	 }
	 .wanted-link-1,.wanted-link-2,.wanted-link-3{
		text-decoration: none;
	 }
	 .wanted-link-1:hover,.wanted-link-2:hover,.wanted-link-3:hover{
		text-decoration: none;
	 }
	 .wanted-link-1 .wanted-icon{
		 color:  #356cc7;
	 }
	 .wanted-link-2 .wanted-icon{
		color: #00bfd8;
	}
	.wanted-link-3 .wanted-icon{
		color: #ffd04d;
	}

	.wanted-link-1 .wanted-title,.wanted-link-2 .wanted-title,.wanted-link-3 .wanted-title{
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
	}
	.wanted-link-1:hover .wanted-title,.wanted-link-2:hover,.wanted-link-3:hover{
		color: #4889e8 !important; 

	 }
	 .wanted-link-1:hover .wanted-icon,.wanted-link-2:hover .wanted-icon,.wanted-link-3:hover .wanted-icon{
		color: #4889e8 !important; 
	 }