@import "bootstrap.min.css";

@media (max-width: 490px) or ( (min-width: 575px) and (max-width: 1100px) ) {
    #logo-right {
        display: none;
    }
}

@media (max-width: 390px) or ( (min-width: 575px) and (max-width: 1000px) ) {
    #logo-middle {
        display: none;
    }
}

@media  (min-width: 575px) and (max-width: 800px) {
    #logo-left {
        display: none;
    }
}

body {
	padding-top: 53px;
}

section {
	padding: calc(0.6875rem + 0.75vw);
}

.sub-section {
	padding: calc(0.6875rem + 0.75vw);

  /*fix for fixed-top navbar navigation*/  
  border-top: 53px solid transparent;
  margin-top: -53px;

}

.dark-section {
  /*fix for fixed-top navbar navigation*/
  margin-top: 53px;
  padding-bottom: calc(0.6875rem + 0.75vw + 53px);

}

.light-section {
    color: black;
}

h1 {
	font-weight: 700;
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
	font-weight: 600;
	text-align: center;
	margin-bottom: 25px;
    font-size: calc(1.325rem + .8vw);
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

h4 {
    font-size:1.5rem;
}

h5 {
    font-size:1.25rem;
}

h6 {
    font-size:1rem;
}

.white-section {
    color: #626262; 
}

.white-section .h {
    color: #393939;
}

.vh-50 {
    min-height: 50vh;
}

.bg-black-shadow {
	background-color: rgba(0, 0, 0, 0.25);
}

.bg-dark-blue-shadow {
	background-color: rgba(0, 0, 25, 0.5);
    color: white;
    padding: 1.2rem;
    margin: 1.2rem;
}

.img-figure {
  max-width: 200px;
  height: auto;

}

.rounded { 
    border-radius: 25px !important; 
}

.text-white { 
	color:rgba(255,255,255,1) !important;
}

.fixed-bg {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.card-body {
    padding-top: 0;
    padding-bottom: 10px;
    text-align: center;
}

.nav-link.active {
  color: #4889E8 !important;
}

.nav-link {
  font-weight: 500;
  font-size: 24px;
}

.nav-link:hover {
    color: #4889E8 !important;
}


.icon {
  max-width: 150px;
  max-height: 150px;
  min-width: 50px;
  min-height: 50px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.slider-container {
    text-align: center;
}

.customer-logo {
    max-height: 32px;
    width: auto;
    margin: auto;
}

.card {
	padding: 0;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
	border-radius: 10px;
	border-color: #4889E8;
	border-width: 3px;
  
}

.card-footer {
	border-style: none;
	background-color:transparent;
}

.card-body {
	padding-top: 0px;
    padding-bottom: .75rem;
}

@media (max-width: 300px) {
    .gap > div {
        padding: .75rem 0 ;
    }


}

@media (min-width: 300px) {
    .gap > div {
        padding: 1.5rem;
    }
}

@media (max-width: 575px) {
    header .container {
        padding-left: 0;
    }


}






th {
  vertical-align: middle;
}

.carousel {
	background-color: white;
	width: 100vw;
	height: 15vh;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
    filter: invert(50%);
}

.carousel-indicators {
    margin: 0px;
    height: 0px;
}

.carousel-item {
  position: relative;
  height: 100%;
}

.customer-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/*accordion start*/

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button {
      transition: none;
    }
  }
  .accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
  }
  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button::after {
      transition: none;
    }
  }
  .accordion-button:hover {
    z-index: 2;
  }
  .accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  
  .accordion-header {
    margin-bottom: 0;
  }
  
  .accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .accordion-item:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .accordion-item:not(:first-of-type) {
    border-top: 0;
  }
  .accordion-item:last-of-type {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .accordion-body {
    padding: 1rem 1.25rem;
  }
  
  .accordion-flush .accordion-collapse {
    border-width: 0;
  }
  .accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .accordion-flush .accordion-item:first-child {
    border-top: 0;
  }
  .accordion-flush .accordion-item:last-child {
    border-bottom: 0;
  }
  .accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
  }

/*accordion end*/

